@base-color: #0072bc; 

// https://mycolor.space/?hex=%230072BC&sub=1
// https://colors.muz.li/color-palette-generator/0072bc
@header-bg: @base-color;
@header-text: #fff;
@header-hover: #a7c2bf;

@main-gray: #949DB0;
@main-bg: #fff;
@main-text: #4373c3;
@main-accent: #1a7f5b;
@main-hover: #35968e;
@main-li-hover: #f0faff;
@main-li-border: #eceef1; // lighten(@main-gray, 30%);

@dark-bg: #202124;
@dark-header-bg: #4373c3; // @main-text;
@dark-hover: lighten(@dark-bg, 10%);

@transition-time: 0.5s;

@font-family: "Segoe UI", "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;