@base-color: #0072bc; 

// https://mycolor.space/?hex=%230072BC&sub=1
// https://colors.muz.li/color-palette-generator/0072bc
@header-bg: @base-color;
@header-text: #fff;
@header-hover: #a7c2bf;

@main-gray: #949DB0;
@main-bg: #fff;
@main-text: #4373c3;
@main-accent: #1a7f5b;
@main-hover: #35968e;
@main-li-hover: #f0faff;
@main-li-border: #eceef1; // lighten(@main-gray, 30%);

@dark-bg: #202124;
@dark-header-bg: darken(#4373c3, 10%); // @main-text; 1e3a5f
@dark-li-border: lighten(@dark-bg, 10%);
@dark-li-hover: lighten(@dark-bg, 5%);
@dark-text: #d2ddf1; // #a8c6ff;  tint(@dark-header-bg, 80%);
@dark-accent: #8fd3b2;

@transition-time: 0.5s;

@font-family: "Segoe UI", "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;