@import "base.less";


body {
    background-color: @main-color;
    font-family: @font-family;
}

header {
    text-align: center;
    color: @header-text;
}

main {
    background-color: @main-bg;
    width: 400px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    color: @main-text;
}

footer {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
}
/*input[type="number"] {
    width: 100px;
}*/

#saveSettings {
    background-color: @main-text;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
        background-color: @main-hover;
    }
}

#saveStatus {
    display: none;
    &.show {
        display: inline;
    }
}

#a_logo {
    width: 100px;
    height: 100px;
    filter: blur(2px);
    transition: filter @transition-time;
    &:hover {
        filter: blur(0);
    }
}