:root {
  --body-bg-color: #0072bc;
  --header-text-color: #ffffff;
  --main-bg-color: #fff;
  --main-text-color: #0056b3;
  --main-hover-color: #15803d;
}
@media (prefers-color-scheme: dark) {
  :root {
    --body-bg-color: #2a4a7a;
  }
}
body {
  background-color: var(--body-bg-color);
  font-family: "Segoe UI", "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
}
header {
  text-align: center;
  color: var(--header-text-color);
}
main {
  background-color: var(--main-bg-color);
  width: 400px;
  margin: 20px auto;
  padding: 15px;
  border-radius: 10px;
  color: var(--main-text-color);
}
main label {
  display: block;
  margin-bottom: 5px;
}
main input[type="number"] {
  width: 40px;
}
main #saveBlock {
  margin-top: 1em;
}
main #saveBlock #saveSettings {
  background-color: var(--main-text-color);
  color: var(--header-text-color);
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.5s;
}
main #saveBlock #saveSettings:hover {
  background-color: var(--main-hover-color);
}
main #saveBlock #saveStatus {
  display: none;
}
main #saveBlock #saveStatus.show {
  display: inline;
}
footer {
  text-align: center;
}
footer #a_logo {
  width: 100px;
  height: 100px;
  filter: blur(2px);
  transition: filter 0.5s;
}
footer #a_logo:hover {
  filter: blur(0);
}
