@import "base.less";

:root {
    --body-background-color: @main-bg;
    --header-background-color: @header-bg;
    --header-text-color: @header-text;
    --header-hover-color: @header-hover;
    --main-text-color: @main-text;
    --main-text-color-accent: @main-accent; 
    --main-hover-color: @main-hover;
    --main-li-hover-color: @main-li-hover;
    --main-li-border-color: @main-li-border;
}

@media (prefers-color-scheme: dark) {
    :root {
        --body-background-color: @dark-bg;
        --header-background-color: @dark-header-bg;
        --header-text-color: @dark-text;
        --header-hover-color: #fff;
        --main-text-color: @dark-text;
        --main-text-color-accent: @dark-accent;
        --main-hover-color: #fff;
        --main-li-hover-color: @dark-li-hover;
        --main-li-border-color: @dark-li-border;
    }
}

.icon_mask_mini() {
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: center center;
    -webkit-mask-position: center center;
    transition: background-color @transition-time;
}

.icon_mask(@size: 16px, @mask_size: 16px) {
    width: @size;
    height: @size;
    mask-size: @mask_size @mask_size;
    -webkit-mask-size: @mask_size @mask_size;
    .icon_mask_mini();
}

.icon_mask_url(@url) {
    mask-image: url(@url);
    -webkit-mask-image: url(@url);
}

.hidden {
    display: none !important;
}

.loading {
    animation: rotated 1s infinite linear;
}
@keyframes rotated {
    0% {
      rotate: 0deg;
    }
    100% {
      rotate: 360deg;
    }
}

body {
    background: var(--body-background-color);
    font-family: @font-family;
    margin: 0;
    font-size: 14px;
    min-width: 400px;
    // max-width: 800px;
}

header {
    position: sticky;
    top: 0;
    background: var(--header-background-color);
    color: var(--header-text-color);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    z-index: 10;
    // font-weight: 500;

    .header-item {
        cursor: pointer;
        transition: color @transition-time;
        &:hover {
            color: var(--header-hover-color);
        }
    }

    #counters {
        display: flex;
        gap: 10px;

        .header-item {
            // padding-left: 22px;
            align-items: center;
            display: flex;
            opacity: 0.5;
            transition: color @transition-time;

            &.accent { opacity: 1; }
            // &:hover { opacity: 1; }

            &::before {
                content: '';
                .icon_mask();
                background: var(--header-text-color);
                display: inline-block;
                margin-right: 6px;
            }
            &:hover::before {
                background: var(--header-hover-color);
            }
        }

        #header-qms::before {
            .icon_mask_url('../img/message.svg');
        }
        #header-favorites::before {
            .icon_mask_url('../img/star.svg');
        }
        #header-mentions::before {
            .icon_mask_url('../img/mention.svg');
        }
    }

    #options {
        .icon_mask();
        .icon_mask_url('../img/settings.svg');
        background: var(--header-text-color);
        &:hover {
            background: var(--header-hover-color);
        }
    }

    #theme-actions {
        display: flex;
        flex-direction: row;
        gap: 10px;

        div {
            .icon_mask_mini();
            display: inline-block;
            width: 22px;
            height: 16px;
            mask-size: 22px 16px;
            -webkit-mask-size: 22px 16px;
            background: var(--header-text-color);
            &:hover {
                background: var(--header-hover-color);
            }
        }

        #themes-open-all {
            .icon_mask_url('../img/mass/open_all.svg');
        }
        #themes-open-all-pin {
            .icon_mask_url('../img/mass/open_pin.svg');
        }
        #themes-read-all {
            .icon_mask_url('../img/mass/read_all.svg');
        }
    }
}

main {
    // min-height: 100vh;

    ul#topic-list {
        list-style: none;
        margin: 0;
        padding: 0;
        color: @main-gray;

        li {
            padding: 5px 10px;
            cursor: default;

            &.one-theme {
                border: none;
                cursor: pointer;
                transition: background-color @transition-time;
                border-color: var(--main-li-border-color);
                border-style: dashed;
                border-width: 0;
                position: relative;

                .topic-title {
                    color: var(--main-text-color);
                    transition: color @transition-time;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    &.accent {
                        color: var(--main-text-color-accent);
                    }
                }

                .topic-2nd-line {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    font-size: 11px;
                    margin-top: 2px;

                    .topic-last-info {
                        display: inline;
                        transition: color @transition-time;
                        &:hover {
                            color: var(--main-hover-color);
                        }
                    }

                    .mark-as-read {
                        position: absolute;
                        right: 8px;
                        bottom: 3px;
                        .icon_mask(16px, 12px);
                        background: @main-gray;
                        .icon_mask_url('../img/eye.svg');
                        transition: background-color @transition-time,
                                    opacity @transition-time;
                        opacity: 0.5;
                        &.loading {
                            .icon_mask_url("../img/refresh.svg");
                        }
                        &:hover {
                            opacity: 1;
                            background: var(--main-hover-color);
                        }
                    }
                }

                &.used {
                    .topic-title {
                        color: @main-gray;
                        text-decoration: line-through;
                    }

                    .mark-as-read {
                        display: none;
                    }
                }

                &:hover {
                    background-color: var(--main-li-hover-color);
                    &:not(.used) {
                        .topic-title {
                            color: var(--main-hover-color);
                        }
                    }
                }
                &:not(:last-child) {
                    border-bottom-width: 1px;
                }
            }
        }
    }
}

#templates {
    display: none;
}

