:root {
  --body-background-color: #fff;
  --header-background-color: #0072bc;
  --header-text-color: #fff;
  --header-hover-color: #a7c2bf;
  --main-text-color: #4373c3;
  --main-text-color-accent: #1a7f5b;
  --main-hover-color: #35968e;
  --main-li-hover-color: #f0faff;
  --main-li-border-color: #eceef1;
}
@media (prefers-color-scheme: dark) {
  :root {
    --body-background-color: #202124;
    --header-background-color: #335ca0;
    --header-text-color: #a8c6ff;
    --header-hover-color: #fff;
    --main-text-color: #a8c6ff;
    --main-text-color-accent: #8fd3b2;
    --main-hover-color: #fff;
    --main-li-hover-color: #2c2d32;
    --main-li-border-color: #383a3f;
  }
}
.hidden {
  display: none !important;
}
.loading {
  animation: rotated 1s infinite linear;
}
@keyframes rotated {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
body {
  background: var(--body-background-color);
  font-family: "Segoe UI", "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
  margin: 0;
  font-size: 14px;
  min-width: 400px;
}
header {
  position: sticky;
  top: 0;
  background: var(--header-background-color);
  color: var(--header-text-color);
  display: flex;
  justify-content: space-between;
  padding: 10px;
  z-index: 10;
}
header .header-item {
  cursor: pointer;
  transition: color 0.5s;
}
header .header-item:hover {
  color: var(--header-hover-color);
}
header #counters {
  display: flex;
  gap: 10px;
}
header #counters .header-item {
  align-items: center;
  display: flex;
  opacity: 0.5;
  transition: color 0.5s;
}
header #counters .header-item.accent {
  opacity: 1;
}
header #counters .header-item::before {
  content: '';
  width: 16px;
  height: 16px;
  mask-size: 16px 16px;
  -webkit-mask-size: 16px 16px;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center center;
  -webkit-mask-position: center center;
  transition: background-color 0.5s;
  background: var(--header-text-color);
  display: inline-block;
  margin-right: 6px;
}
header #counters .header-item:hover::before {
  background: var(--header-hover-color);
}
header #counters #header-qms::before {
  mask-image: url('../img/message.svg');
  -webkit-mask-image: url('../img/message.svg');
}
header #counters #header-favorites::before {
  mask-image: url('../img/star.svg');
  -webkit-mask-image: url('../img/star.svg');
}
header #counters #header-mentions::before {
  mask-image: url('../img/mention.svg');
  -webkit-mask-image: url('../img/mention.svg');
}
header #options {
  width: 16px;
  height: 16px;
  mask-size: 16px 16px;
  -webkit-mask-size: 16px 16px;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center center;
  -webkit-mask-position: center center;
  transition: background-color 0.5s;
  mask-image: url('../img/settings.svg');
  -webkit-mask-image: url('../img/settings.svg');
  background: var(--header-text-color);
}
header #options:hover {
  background: var(--header-hover-color);
}
header #theme-actions {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
header #theme-actions div {
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center center;
  -webkit-mask-position: center center;
  transition: background-color 0.5s;
  display: inline-block;
  width: 22px;
  height: 16px;
  mask-size: 22px 16px;
  -webkit-mask-size: 22px 16px;
  background: var(--header-text-color);
}
header #theme-actions div:hover {
  background: var(--header-hover-color);
}
header #theme-actions #themes-open-all {
  mask-image: url('../img/mass/open_all.svg');
  -webkit-mask-image: url('../img/mass/open_all.svg');
}
header #theme-actions #themes-open-all-pin {
  mask-image: url('../img/mass/open_pin.svg');
  -webkit-mask-image: url('../img/mass/open_pin.svg');
}
header #theme-actions #themes-read-all {
  mask-image: url('../img/mass/read_all.svg');
  -webkit-mask-image: url('../img/mass/read_all.svg');
}
main ul#topic-list {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #949DB0;
}
main ul#topic-list li {
  padding: 5px 10px;
  cursor: default;
}
main ul#topic-list li.one-theme {
  border: none;
  cursor: pointer;
  transition: background-color 0.5s;
  border-color: var(--main-li-border-color);
  border-style: dashed;
  border-width: 0;
  position: relative;
}
main ul#topic-list li.one-theme .topic-title {
  color: var(--main-text-color);
  transition: color 0.5s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
main ul#topic-list li.one-theme .topic-title.accent {
  color: var(--main-text-color-accent);
}
main ul#topic-list li.one-theme .topic-2nd-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 11px;
  margin-top: 2px;
}
main ul#topic-list li.one-theme .topic-2nd-line .topic-last-info {
  display: inline;
  transition: color 0.5s;
}
main ul#topic-list li.one-theme .topic-2nd-line .topic-last-info:hover {
  color: var(--main-hover-color);
}
main ul#topic-list li.one-theme .topic-2nd-line .mark-as-read {
  position: absolute;
  right: 8px;
  bottom: 3px;
  width: 16px;
  height: 16px;
  mask-size: 12px 12px;
  -webkit-mask-size: 12px 12px;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center center;
  -webkit-mask-position: center center;
  transition: background-color 0.5s;
  background: #949DB0;
  mask-image: url('../img/eye.svg');
  -webkit-mask-image: url('../img/eye.svg');
  transition: background-color 0.5s, opacity 0.5s;
  opacity: 0.5;
}
main ul#topic-list li.one-theme .topic-2nd-line .mark-as-read.loading {
  mask-image: url("../img/refresh.svg");
  -webkit-mask-image: url("../img/refresh.svg");
}
main ul#topic-list li.one-theme .topic-2nd-line .mark-as-read:hover {
  opacity: 1;
  background: var(--main-hover-color);
}
main ul#topic-list li.one-theme.used .topic-title {
  color: #949DB0;
  text-decoration: line-through;
}
main ul#topic-list li.one-theme.used .mark-as-read {
  display: none;
}
main ul#topic-list li.one-theme:hover {
  background-color: var(--main-li-hover-color);
}
main ul#topic-list li.one-theme:hover:not(.used) .topic-title {
  color: var(--main-hover-color);
}
main ul#topic-list li.one-theme:not(:last-child) {
  border-bottom-width: 1px;
}
#templates {
  display: none;
}
