:root {
  --header-background-color: #0072bc;
  --header-text-color: #ffffff;
  --header-hover-color: #cce0ff;
  --body-background-color: #fff;
  --main-gray-color: #959da5;
  --main-text-color: #0056b3;
  --main-text-color-accent: #15803d;
  --main-text-hover-color: #004085;
  --main-text-hover-color-accent: #106232;
  --main-li-hover-color: #f8f9fa;
  --main-li-border-color: #e1e1e1;
}
@media (prefers-color-scheme: dark) {
  :root {
    --header-background-color: #2a4a7a;
    --header-text-color: #cfd9f1;
    --header-hover-color: #f9fbff;
    --body-background-color: #18191b;
    --main-gray-color: #959da5;
    --main-text-color: #e6ecff;
    --main-text-color-accent: #a9d4bb;
    --main-text-hover-color: #fbfcff;
    --main-text-hover-color-accent: #f3faf5;
    --main-li-hover-color: #222225;
    --main-li-border-color: #383a3f;
  }
}
.hidden {
  display: none !important;
}
.loading {
  animation: rotated 1s infinite linear;
}
@keyframes rotated {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
body {
  background: var(--body-background-color);
  font-family: "Segoe UI", "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
  margin: 0;
  font-size: 14px;
  min-width: 400px;
}
header {
  position: sticky;
  top: 0;
  background: var(--header-background-color);
  color: var(--header-text-color);
  display: flex;
  justify-content: space-between;
  padding: 10px;
  z-index: 10;
}
header > div {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
header > div > div {
  cursor: pointer;
  transition: color 0.5s;
}
header > div > div:hover {
  color: var(--header-hover-color);
  transform: translateY(-1px);
}
header #counters > div {
  align-items: center;
  display: flex;
}
header #counters > div:not(.accent) {
  opacity: 0.5;
}
header #counters > div::before {
  content: '';
  width: 16px;
  height: 16px;
  mask-size: 16px 16px;
  -webkit-mask-size: 16px 16px;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center center;
  -webkit-mask-position: center center;
  transition: background-color 0.5s;
  background: var(--header-text-color);
  display: inline-block;
  margin-right: 5px;
}
header #counters > div:hover::before {
  background: var(--header-hover-color);
}
header #counters #header-qms::before {
  mask-image: url('../img/message.svg');
  -webkit-mask-image: url('../img/message.svg');
}
header #counters #header-favorites::before {
  mask-image: url('../img/star.svg');
  -webkit-mask-image: url('../img/star.svg');
}
header #counters #header-mentions::before {
  mask-image: url('../img/mention.svg');
  -webkit-mask-image: url('../img/mention.svg');
}
header #theme-actions > div {
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center center;
  -webkit-mask-position: center center;
  transition: background-color 0.5s;
  display: inline-block;
  width: 22px;
  height: 16px;
  mask-size: 22px 16px;
  -webkit-mask-size: 22px 16px;
  background: var(--header-text-color);
}
header #theme-actions > div:hover {
  background: var(--header-hover-color);
}
header #theme-actions #themes-open-all {
  mask-image: url('../img/mass/open_all.svg');
  -webkit-mask-image: url('../img/mass/open_all.svg');
}
header #theme-actions #themes-open-all-pin {
  mask-image: url('../img/mass/open_pin.svg');
  -webkit-mask-image: url('../img/mass/open_pin.svg');
}
header #theme-actions #themes-read-all {
  mask-image: url('../img/mass/read_all.svg');
  -webkit-mask-image: url('../img/mass/read_all.svg');
}
header #right-box #options {
  width: 16px;
  height: 16px;
  mask-size: 16px 16px;
  -webkit-mask-size: 16px 16px;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center center;
  -webkit-mask-position: center center;
  transition: background-color 0.5s;
  mask-image: url('../img/settings.svg');
  -webkit-mask-image: url('../img/settings.svg');
  background: var(--header-text-color);
}
header #right-box #options:hover {
  background: var(--header-hover-color);
}
main ul#topic-list {
  list-style: none;
  margin: 0;
  padding: 0;
  color: var(--main-gray-color);
}
main ul#topic-list li {
  padding: 5px 10px;
  cursor: default;
}
main ul#topic-list li.one-theme {
  --text-color: var(--main-text-color);
  --hover-color: var(--main-text-hover-color);
  border: none;
  cursor: pointer;
  transition: background-color 0.5s;
  border-color: var(--main-li-border-color);
  border-style: dashed;
  border-width: 0;
  position: relative;
}
main ul#topic-list li.one-theme.accent {
  --text-color: var(--main-text-color-accent);
  --hover-color: var(--main-text-hover-color-accent);
}
main ul#topic-list li.one-theme .topic-title {
  color: var(--text-color);
  transition: color 0.5s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
main ul#topic-list li.one-theme .topic-2nd-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 11px;
  margin-top: 2px;
}
main ul#topic-list li.one-theme .topic-2nd-line .topic-last-info {
  display: inline;
  transition: color 0.5s;
}
main ul#topic-list li.one-theme .topic-2nd-line .topic-last-info:hover {
  color: var(--hover-color);
}
main ul#topic-list li.one-theme .topic-2nd-line .mark-as-read {
  position: absolute;
  right: 8px;
  bottom: 3px;
  width: 16px;
  height: 16px;
  mask-size: 12px 12px;
  -webkit-mask-size: 12px 12px;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center center;
  -webkit-mask-position: center center;
  transition: background-color 0.5s;
  background: var(--main-gray-color);
  mask-image: url('../img/eye.svg');
  -webkit-mask-image: url('../img/eye.svg');
  transition: background-color 0.5s, opacity 0.5s;
  opacity: 0.5;
}
main ul#topic-list li.one-theme .topic-2nd-line .mark-as-read.loading {
  mask-image: url("../img/refresh.svg");
  -webkit-mask-image: url("../img/refresh.svg");
}
main ul#topic-list li.one-theme .topic-2nd-line .mark-as-read:hover {
  opacity: 1;
  background: var(--hover-color);
}
main ul#topic-list li.one-theme.used .topic-title {
  color: var(--main-gray-color);
  text-decoration: line-through;
}
main ul#topic-list li.one-theme.used .mark-as-read {
  display: none;
}
main ul#topic-list li.one-theme:hover {
  background-color: var(--main-li-hover-color);
}
main ul#topic-list li.one-theme:hover:not(.used) .topic-title {
  color: var(--hover-color);
}
main ul#topic-list li.one-theme:not(:last-child) {
  border-bottom-width: 1px;
}
#templates {
  display: none;
}
