body {
  font-family: "Segoe UI", "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
  background: #fff;
  margin: 0;
  font-size: 14px;
}
header {
  position: sticky;
  top: 0;
  background: #0072bc;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
header .header-item {
  cursor: pointer;
  transition: color 0.5s;
}
header .header-item:hover {
  color: #a7c2bf;
}
header #counters {
  display: flex;
  gap: 10px;
}
header #counters .header-item {
  align-items: center;
  display: flex;
  opacity: 0.5;
  transition: color 0.5s, opacity 0.5s;
}
header #counters .header-item.accent {
  opacity: 1;
}
header #counters .header-item:hover {
  opacity: 1;
}
header #counters .header-item::before {
  content: '';
  mask-repeat: no-repeat;
  mask-size: 16px 16px;
  mask-position: left center;
  background: #fff;
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 6px;
  transition: background-color 0.5s;
}
header #counters .header-item:hover::before {
  background: #a7c2bf;
}
header #counters #header-qms::before {
  mask-image: url('../img/message.svg');
}
header #counters #header-favorites::before {
  mask-image: url('../img/star.svg');
}
header #counters #header-mention::before {
  mask-image: url('../img/mention.svg');
}
main ul.topic-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
main ul.topic-list li {
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}
main ul.topic-list li .topic-title {
  color: #0072bc;
  transition: color 0.5s;
}
main ul.topic-list li.accent .topic-title {
  color: #265f5a;
}
main ul.topic-list li .topic-last-info {
  color: #949DB0;
  font-size: 11px;
  display: inline;
  transition: color 0.5s;
}
main ul.topic-list li .topic-last-info:hover {
  color: #35968e;
}
main ul.topic-list li:hover .topic-title {
  color: #35968e;
}
main ul.topic-list li + li {
  border-top: 1px solid #949DB0;
}
